beautifulsoup4==4.12.3
chromadb==3.35.0
langchain==0.3.14
langchain_community==0.3.14
langdetect==1.0.9
ollama==0.4.5
pandas==2.2.3
pdfplumber==0.11.4
presidio_analyzer==2.2.356
presidio_anonymizer==2.2.356
protobuf==5.29.3
pymongo==4.10.1
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.0
spacy==3.8.2
streamlit==1.40.2
